<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="icon" href="./img/favicon.png" />
    <link rel="stylesheet" href="./css/styles.css" />
    <title>Chat App</title>
  </head>
  <body>
    <div class="chat">
      <div id="sidebar" class="chat__sidebar"></div>
      <div class="chat__main">
        <div id="messages" class="chat__messages"></div>

        <div class="compose">
          <form id="message-form" action="#">
            <input name="message" type="text" placeholder="Write a message" required autocomplete="off"/>
            <button id="send">Send</button>
          </form>
          <button id="send-location">Send location</button>
        </div>
      </div>
    </div>

    <script id="message-template" , type="text/html">
      <div class="message">
          <p>
              <span class="message__name">{{username}}</span>
              <span class="message__meta">{{createdAt}}</span>
          </p>
          <p>{{message}}</p>
      </div>
    </script>

    <script id="location-message-template" , type="text/html">
      <div class="message">
        <p>
            <span class="message__name">{{username}}</span>
            <span class="message__meta">{{createdAt}}</span>
        </p>
          <p><a href="{{locationMessage}}" target="_blank">Check {{username}}'s location</a></p>
      </div>
    </script>

    <script id="sidebar-template" type="text/html">
        <h2 class="room-title">{{room}}</h2>
        <h3 class="list-title">Users</h3>
        <ul class="users">
            {{#users}}
                <li class="capitalize">{{username}}</li>
            {{/users}}
        </ul>
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/3.1.0/mustache.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.9.1/qs.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/chat.js"></script>
  </body>
</html>
